<%- include('partials/author-header.ejs') %>

<div class="staff-profile-section">

<div class="profile-box">
   <h2 class="staff-detail-header">Author details</h2>
   <p>Author-id : <%=authorId  %></p>
   <p>Name : <%=authorName %></p>
   <p>Email-id : <%=authorEmail %></p>
   <p>Phone : <%=authorPhone %></p>
   <p>Password :<%=authorpwd  %></p>
</div>   
</div>

<%- include('partials/home-footer.ejs') %>