<%- include('partials/reader-header.ejs') %>

<div class="staff-profile-section">

<div class="profile-box">
   <h2 class="staff-detail-header">Reader details</h2>
   <p>Reader-id : <%=readerId  %></p>
   <p>Name : <%=readerName %></p>
   <p>Email-id : <%=readerEmail %></p>
   <p>Phone : <%=readerPhone %></p>
   <p>Address : <%=readerAdd %></p>
   <p>Password :<%=readerpwd  %></p>
</div>   
</div>

<%- include('partials/home-footer.ejs') %>