<%- include('partials/staff-header.ejs') %>

<div class="staff-profile-section">

<div class="profile-box">
   <h2 class="staff-detail-header">Staff details</h2>
   <p>Staff-id : <%=staffId  %></p>
   <p>Name : <%=staffName %></p>
   <p>Email-id : <%=staffEmail %></p>
   <p>Password :<%=staffpwd  %></p>
</div>   
</div>

<%- include('partials/home-footer.ejs') %>
